ul {
  list-style-type: none;
}

/* div color border*/
div {
  border: 1px solid red;
}

body {
  color: #4A4A4A;
  width: auto;
}

p {
  font-weight: lighter;
}

/* Header Starts */

header {
  display: block;
  width: 100%;
  height: 4rem;
}

header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo span {
  color:  #A8A8A8;
}

.logo strong {
  color: #4E4E4E;
}


/* nav color border */
nav {
  border: 1px solid red;
}

nav {
  display: flex;
  justify-content: center;
  height: 4rem;
  align-items: center;
}

nav a {
  display: flex;
  height: 100%;
}

nav .color {
  background-color: #92E0E0;
  width: 1rem;
  align-items: stretch;
  display: flex;
  margin: 0;
}


header .mobile-nav {
  display: none;
}

nav .full-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
}

nav .items {
  display: flex;

}


/*Header Ends*/

/* Main Banner Starts*/

.main-banner {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  background-color: #E1E1E1;
}

.banner.image{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  display: flex;
  overflow: hidden;
}

.banner.image img {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 30%;
}

.banner.quote {
  display: flex;
  padding-left: 2.5rem;
}

.banner.quote .quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 70%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  align-items: center;
  margin-top: 3rem;
}

.banner.quote span {
  background-color: #4A4A4A;
  padding-top: .8rem;
  padding-bottom: .8rem;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  width: 80%;
}

.banner.quote h1 {
  font-size: 3rem;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}

.banner.quote h3 {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-left: 2.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* Information Section */

.information.container {
  display: flex;
  width: 100%;
}

.information .banner.image {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  width: 60%;
  height: 100%;
}

.information .practicing {
  display: flex;
  width: 100%;
}

.information .side.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30rem;
  border-left: 1px solid #D8D8D;
}

.information .title {
  display: flex;
  flex-direction: row;
  width: 30rem;
  height: 100%;
  }

.title img {
  display: flex;
  width: 12.5rem;
  height: 12.5rem;
  padding: 1rem;
}

.title.keynote {
  background-color: #D8D8D8;
  display: flex;
}


.title .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 1rem;
}

.info p {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 0;
  margin-top: 0;
}

.info h3 {
  margin-bottom: 0;
}

/*Pracice Container End*/

/*Learning container Start*/

.learning.container {
  display: block;
  width: 100%;
}

.learning.container .heading {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #EAEBEC;
}

.tile-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #EAEBEC;
  padding-bottom: 2rem;
}

.course {
  width: 25%;
  background-color: #fff;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.course img {
  display: flex;
  width: 100%;
}

.course h2 {
  padding-left: 1rem;
  color: #484848;
}

.course span
 {
  font-weight: lighter;
  padding-left: 1rem;
  color: #A8A8A8;
}

.course p {
  font-weight: lighter;
  padding-left: 1rem;
  width: 70%;
  color: #A8A8A8;
}

/*Thesis Section*/

.thesis.container {
  display: block;
  width: 100%;
}

.thesis.container .heading {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.thesis.info {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.video.info {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
  align-items: flex-start;
}

video {
  width: 100%;
}

.video.info h2 {
  margin-top: 1.4rem;
}

.thesis.container p {
  color: #A8A8A8;
}

.thesis .side-banner {
  width: 26.4375rem;
}

.information .side-banner {
  width: 100%;
}

.thesis .banner.info {
  display: flex;
  flex-direction: row;
  width: 30rem;
  height: 12.5rem;
}

.banner.info.keynote {
  background-color: #EAEBEC;
}

.banner.info .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.banner.info img {
  width: 12.5rem;
  padding: 1rem;
